/* Put your CSS here */
ul {
  background: #FFD5DB;
  margin: 50px;
  opacity: 0.8;
  padding: 30px;
}

ul li{
  background: #8FA6B6;
  color: white;
  display: block;
  margin: 10px;
  padding: 10px
}

body {
  background-image: linear-gradient(to right, #f5f5f5, #c2b6b6, #b5aaaa, #c2b6b6, #f5f5f5);
}

.fronttext {
  color: grey;
}

.page-title {
  color: #8c7478;
  font-size: 50px;
  text-align: center;
}

.staffname {
  background: #8FA6B6;
  color: white;
  display: block;
}
